
h1
{
	color: turquoise; 
	font-size: 40px;
	font-family: fantasy;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#mycanvas{
	border-width: 10px;
    background-color: whitesmoke;
	border-style: groove;
}
